<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src='/javascripts/jQuery.js'></script>
	<script src="/javascripts/jquery.novacancy.js"></script>
	<script src='/javascripts/main.js'></script>
	<link href="/stylesheets/hamburgers.css" rel="stylesheet">
	<title>Max Reeves</title>
</head>
<body>
	<a id="top">
	<nav>
		<button id="hamburger-icon" class="hamburger" type="button">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</button>
		<ul id="hamburger-items" class="hidden-menu-items menu-items22">
			<li class="vacancy"><a href="#about">About</a></li>
			<li class="vacancy"><a href="#projects" id="project-click">Projects</a></li>
			<li class="vacancy"><a href="#contact">Contact</a></li>
		</ul>
	</nav>

	<div class="container index-div">
			<h1 class="projects down22 white-h2 no">Max Reeves</h1>
			<h2 class="projects fade2 white-h2 vacancy">Junior Web Developer</h2>
			<a href="#about" class="landing-button22" id="landing-button" data-title="NEXT"></a>
			<!-- <a href="#about" id="marble-sphere"><button id="button-next"><img id="svg-down" src="/images/angle-arrow-down.svg" alt="Down"/></button></a> -->
			<div id="svg-down1" class="svg-down"><a href="#about"><?xml version="1.0" encoding="utf-8"?>
			<svg width="80" height="80" class="svg-down" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path class="svg-down" d="M1395 736q0 13-10 23l-466 466q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l393 393 393-393q10-10 23-10t23 10l50 50q10 10 10 23z" fill="#fff"/></svg>
			</a></div>
	</div>

	<div class="container about-div">
	<a id="about">
		<div class="projects">
			<h1>Now I'm a developer!</h1>
		</div>
	  <div class="white-box">
		  <div class="row">
				<div class="col-lg fade2">
					After spending the first part of my career as a chef, I decided
					to take the plunge and commit to following my passion for
					technology by training to become a software developer.
					Having now finished General Assembly’s Software Engineering
					Immersive course, I'm looking for the opportunity to further
					hone my new craft as well as demonstrate the transferable
					skills I gained in my previous career; things like teamwork, the
					ability to perform in high pressure, time-critical situations, and
					determination to see tasks through to completion.
				</div>
			</div>
		</div>

		<div class="row border-style">
			<div class="col-sm box-1">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo sunt, rem in beatae voluptate quo, corporis iste voluptas cupiditate, consectetur illum ex fugiat ratione ut neque architecto nesciunt! Similique, doloribus.
			</div>
			<div class="col-sm box-2">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod nulla corrupti inventore tenetur qui, dolores, veniam eveniet, labore molestiae, hic impedit repellendus illum esse. Molestiae aut incidunt ut. Suscipit, quibusdam!
			</div>
			<div class="col-sm box-3">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis possimus soluta, porro dignissimos quibusdam inventore, ut, eligendi dolorum alias veniam ea corrupti asperiores aut voluptatum magni. Doloremque cumque, esse omnis.
			</div>
		</div>

	</div>



	<div class="container project-div">
		<a id="projects">

		<div class="row">
			<div class="projects">
				<h1>Projects</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-lg" id="1">
				<a href="https://pure-chamber-66342.herokuapp.com/" class="container-22 navbar-brand thumbzz"><img src="images/voody.png" alt="Voody" class="img-fluid image-22"></img>
					<div class="middle-22">
						<div class="text-22 shadow-22">Voody a vegan and vegetarian recipe app
							<br/>
							<br/>
							<img src="images/rails.svg" alt="rails 5" class="image-small hvr-buzz">
							<img src="images/sass.svg" alt="sass" class="image-small hvr-buzz">
							<img src="images/css3.svg" alt="html" class="image-small hvr-buzz">
							<img src="images/html5.svg" alt="html" class="image-small hvr-buzz">
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg" id="2">
				<a href="https://firemugen.github.io/SimpleStudio/#/" class="container-22 navbar-brand thumbzz"><img src="images/simple-studio2.png" alt="Simple Studio" class="img-fluid image-22"></img>
					<div class="middle-22">
						<div class="text-22 shadow-22">Simple Studio a collabrative music app (group project).
							<br/>
							<br/>
							<img src="images/react.svg" alt="React" class="image-small hvr-buzz">
							<img src="images/nodejs.svg" alt="Javascript" class="image-small hvr-buzz">
							<img src="images/firebase.svg" alt="Firebase" class="image-small hvr-buzz">
							<img src="images/css3.svg" alt="CSS 3" class="image-small hvr-buzz">
							<img src="images/html5.svg" alt="HTML 5" class="image-small hvr-buzz">
						</div>
					</div>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-lg" id="3">
				<a href="https://friendface-ri.herokuapp.com/" class="container-22 navbar-brand thumbzz"><img src="images/friend-face.png" alt="Friend Face" class="img-fluid image-22"></img>
					<div class="middle-22">
						<div class="text-22 shadow-22">Friend Face a social media app based off I.T Crowd
							<br/>
							<br/>
							<img src="images/rails.svg" alt="Rails 5" class="image-small hvr-buzz">
							<img src="images/sass.svg" alt="Sass" class="image-small hvr-buzz">
							<img src="images/css3.svg" alt="CSS 3" class="image-small hvr-buzz">
							<img src="images/html5.svg" alt="HTML 5" class="image-small hvr-buzz">
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg" id="4">
				<a href="https://firemugen.github.io/project0/" class="container-22 navbar-brand thumbzz"><img src="images/tic-tac-toe2.png" alt="Tic Tac Toe" class="img-fluid image-22"></img>
					<div class="middle-22 shadow-22">
						<div class="text-22">My first project. Classic Tic Tac Toe.
							<br/>
							<br/>
							<img src="images/js.svg" alt="Javascript" class="image-small hvr-buzz">
							<img src="images/css3.svg" alt="CSS 3" class="image-small hvr-buzz">
							<img src="images/html5.svg" alt="HTML 5" class="image-small hvr-buzz">
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>

	<div class="container contact-div">
	 <a id="contact">
		 <h1 class="projects font-weight: bold;">Get In Touch...</h1>
   	 <form id="contact-form" name="email-form" action="/sent" method="get" onsubmit="return validateForm()">

     <label for="fname" class="form-label22">Your Name</label>
     <input type="text" id="fname" name="fname" data-valid="" placeholder="Your Name..">

     <label for="lname" class="form-label22">Email Adress</label>
     <input type="text" id="lname" name="lname" data-valid="" placeholder="Your Email.." >

     <label for="subject" class="form-label22">Your Message</label>
     <textarea id="subject" type="text" name="subject" data-valid="" placeholder="Write something.." style="height:200px" ></textarea>

     <input id="submit-button" type="submit" value="Submit">
   </form>

	<footer class="">
	  <div class="container">
	    <div class="row">
	      <div class="py-4">
	        <div class="">
	          <!--Linkedin -->
	          <a href="https://www.linkedin.com/in/max-reeves/" class="li-ic hvr-buzz">
	            <i class="icon22"><img src="images/linkedin.svg" alt="linked in" class="icon22"/></i>
	          </a>
	          <!--Github-->
	          <a href="https://github.com/FireMugen?tab=repositories" class="hvr-buzz">
	 						<i class="icon22"><img src="images/github.svg" alt="github" class="icon22"/></i>
	          </a>
	        </div>
	      </div>
	 			<div class="footer-copyright text-center py-5 footer22">© 2019 Copyright
	 				<a href="#top"> Max Reeves</a>
	 			</div>
	    </div>
	  </div>
	</footer>
</div>


</body>
</html>
