<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style-sent.css">
    <title></title>
  </head>
  <body>
    <h1>Your Message Has Been Sent</h1>
    <div><a href="#" onclick="history.go(-1)"><img src="images/back.svg" alt="Go Back" /></a></div>
  </body>
</html>
